@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    top: 3.375em;
}

.footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

h1 {
    color: #2c2d2f;
    font-weight: 600;
    line-height: 0.5;
    margin: 0 0 1em 0;
    line-height: 1.3;
}

#home {
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: black;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    align-self: stretch;
}

#weather {
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: black;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    align-self: stretch;
}

#weather-detail {
    font-family: "Space Grotesk", Arial, sans-serif;
}

.start {
    color: #8c8c8c;
    font-weight: 700;
    font-size: 25px;
}

h2.celsius {
    margin: 5em 5em 0 0.4em;
}

#main {
    width: 100%;
    max-width: 70vw;
    margin: auto;
    font-family: "Space Grotesk", Arial, sans-serif;
}

.rounded-circle {
    border: 1px solid;
    border-radius: 50%;

}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16384c;
}

.container .card {
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 450px;
}

.container .card .imgContainer {
    position: relative;
    width: 250px;
    height: 250px;
    top: -50px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgContainer img {
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media (max-width: 330px) {
    .container .card .imgContainer {
        left: -2px;
    }
}