/* General */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    top: 3.375em;
}

.footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

h1 {
    color: #2c2d2f;
    font-weight: 600;
    line-height: 0.5;
    margin: 0 0 1em 0;
    line-height: 1.3;
}

#home {
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: black;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    align-self: stretch;
}

#weather {
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: black;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    align-self: stretch;
}

#weather-detail {
    font-family: "Space Grotesk", Arial, sans-serif;
}

.start {
    color: #8c8c8c;
    font-weight: 700;
    font-size: 25px;
}

h2.celsius {
    margin: 5em 5em 0 0.4em;
}

#main {
    width: 100%;
    max-width: 70vw;
    margin: auto;
    font-family: "Space Grotesk", Arial, sans-serif;
}

.rounded-circle {
    border: 1px solid;
    border-color: #2c2d2f;
    border-radius: 50%;

}

.violet-text {
    color: rgb(215, 14, 215);
}




.row-header {
    width: 100%;
    flex: auto;
}

.container-home {
    display: flex;
    width: 100%;

}

.column {
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.right-column {
    display: flex;
    padding-top: 0.2em;
    justify-content: space-around;
}



/* Cards */
.cards-wrapper {
    display: flex;
    justify-content: left;

}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 5;
}

.carousel-inner {
    padding: 3em;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* Charts */
.chart-container-1 {
    overflow: auto;
    position: relative;
    margin: auto;
    height: 30vw;
    width: 70vw;
}

img.icon {
    filter: contrast(0.5);
}



.icon-container {
    display: flex;
    flex-direction: column;
    padding: auto;
    width: 70vw;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.chart-container-main {
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
}

/*Hover Zoom */

.img-zoom {
    transition: 0.3s ease-in-out;
    width: 100px;
    height: 100px;
}

.img-zoom img {
    transition: transform .5s ease;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.3);
    background-color: #555;
    cursor: pointer;
}


.img-zoom:hover {
    transform: scale(2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.img-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989993px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756803px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279416px 0px;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img-zoom:hover .img-description {
    visibility: visible;
    opacity: 1;
}


/* Hover */

.img__wrap {
    position: relative;
    height: 200px;
    width: 257px;
}