{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}


<div id="main">
    <title>{%trans "Add city"%}</title>
    <div class="container">


        <div class="row">
            <div class="col-12">
                <h4 id="search"> {% trans "Add a city to the database"%}</h1>
            </div>
            <div class="d-flex pt-4 flex-column flex-wrap ">
                <!-- Search bar that makes API call to openweathermap geocode, retrieves up to 5 matching locations and get_or_create to database-->
                <div class="search">
                    {% crispy form %}
                </div>
                <p>
                    <!--Newly created objects are displayed here. 
                Includes a spinner that is triggered by the Submit button of the crispy form. 
                Locations that were already in Database are not displayed-->
                <div class="d-flex p-2">
                    <div id="spinner" class="htmx-indicator">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">{% trans "Loading..."}</span>
                        </div>
                    </div>
                    <section id="results">
                        {% include "partials/partial_location_results.html" %}
                    </section>
                </div>
            </div>
        </div>

        <!-- Modal -->


    </div>
</div>

{% endblock content %}