{% extends "base.html" %}
{% load i18n %}
{% load tz %}

{% block content %}
<div id="weather-detail">
    <div class="icon-container">
        <div hx-get="{% url 'city_detail' city.pk %}" , hx-trigger="load, every 55s">
            {% include "partials/time.html" %}
        </div>
        <h2 class="start">{{city.city_name}}, {{city.country}}</h2>
    </div>

    <div class="icon-container">
        <div class="d-flex 
                justify-content-start 
                flex-row">
            <div class="col">
                <img class="icon" src="https://openweathermap.org/img/wn/{{forecast_list.0.icon}}@2x.png">
            </div>
            <div class="col-md-auto align-self-center">
                <h1>{{forecast_list.0.temp}}°C</h1>
            </div>
            <div class="col-md-auto mx-3">
                <div class="d-flex 
                justify-content-start 
                flex-row">
                    {{forecast_list.0.hum}} % {% trans 'Humidity' %}<br>
                </div>
                <div class="d-flex 
                justify-content-start 
                flex-row">
                    {{forecast_list.0.wind_speed}} m/s {% trans 'Wind speed' %}
                </div>
            </div>
        </div>
    </div>


    <!-- Charts scripts and canvas-->
    <div class="chart-container-main">
        <div class="chart-container-1">
            <canvas id="TempChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
            <script src=" https://cdn.jsdelivr.net/npm/html-escape@2.0.0/index.min.js "></script>
            <script src=" https://cdn.jsdelivr.net/npm/parse-json@7.0.0/index.min.js "></script>
            <script src="{% url 'javascript-catalog' %}"></script>
        </div>
    </div>

    <!-- Line graph-->
    <script type="text/javascript">
        var test_data = '{{ temp |safe}}';
        var temp_feel_load = '{{ temp_feel |safe}}';
        var obj = JSON.parse(test_data);
        var temp_trans = '{{temp_trans}}'
        var temp_feel_parsed = JSON.parse(temp_feel_load);
    </script>

    <script>
        const ctx = document.getElementById('TempChart');
        let chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: temp_trans,
                    tension: 0.4,
                    data: obj
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    tooltip: {
                        titleColor: 'rgb(215, 14, 215)',
                        callbacks: {
                            title: context => {
                                console.log(context[0].raw.x);
                            }
                        }
                    }

                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'hour',
                            unitStepSize: 3,


                            displayFormats: {
                                'hour': 'HH:mm',

                            }
                        },
                        title: {
                            //display: true,
                            //text: "Hour"
                        },
                        ticks: {
                            maxRotation: 0,
                            autoSkipPadding: 10
                        },
                        adapters: {
                            date: {
                                zone: '{{tz}}',
                            }
                        },

                    },
                    y: {
                        title: {
                            display: true,
                            text: temp_trans,
                        }
                    }
                }
            }
        });

    </script>

</div>
{% endblock content %}