<!-- templates/home.html -->
{% extends "base2.html" %}

{% block title %}Home{% endblock title %}

{% block content %}


<div class="card text-center">
    <div class="card-header">
        Aktuelles Wetter
    </div>
    <div class="card-body">
        <h5 class="card-title">{{city.city_name}}</h5>
        <p class="card-text">
        <p>{{city.temp}} °C</p>
        <p>{{city.hum}} % rel. Luftfeuchtigkeit</p>
        </p>
        <a href="#" class="btn btn-primary">Möchten Kleidungsempfehlung?</a>
    </div>
    <div class="card-footer text-muted">
        {{city.last_updated}}
    </div>
</div>

{% endblock content %}