<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}
{% load i18n %}



{% block title %}Home{% endblock title %}

{% block content %}

<head>
    <title>Homepage</title>
</head>

<body>
    <div id="main">
        <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <!-- weather -->

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 id="home">Home</h1>
                    </div>
                    <div class="d-flex p-2 flex-wrap justify-content-evenly">
                        <div class="col-md-8 pt-3">
                            <h6> {% blocktranslate %} Welcome to Never Hot.</h6>
                            <p style="text-align: justify;">This is a website with a Python / Django backend
                                where I teach myself and implement concepts of web development. I mainly focus on
                                backend development and learning frontend development on the go. Therefore this site
                                will not be as beautiful as could be. The project is localized and partly translated in
                                English and German.</p>

                            {% endblocktranslate %}
                        </div>
                        <div class="col-md-4 align-self-center text-center pt-3">
                            <img class="img-fluid mx-auto" style="max-width: 200px;"
                                src="{% static 'images/django-logo-negative.svg' %}" alt="Django logo">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 id="weather">Weather</h1>
                    </div>
                    <div class="d-flex p-2">
                        <p>This app offers a responsive user interface, providing users with up-to-date weather
                            information for the provided locations. The weather forecast data is fetched via the
                            openweathermap.com API and displayed in Chart.js line chart. </p>
                    </div>
                    <div class="d-flex p-2 flex-wrap justify-content-evenly">
                        {% for city in city_list %}
                        {% with 'images/'|add:city.img_path as image_static %}
                        <div class="p-2 pt-3">
                            <div class="img-zoom">
                                <a href="{% url 'city_detail' city.pk %}"><img class="rounded-circle" style="width: 100px; height: 100px;object-fit: cover;
                        object-position: center;" src="{% static image_static %}" alt="Berlin">
                                    <h6 class="img-description">
                                        {{city.city_name}}
                                    </h6>
                                </a>
                            </div>
                        </div>
                        {% endwith %}
                        {% endfor %}
                        <div class="p-2 pt-3">
                            <div class="img-zoom">
                                <a href="#"><img class="rounded-circle" style="width: 100px; height: 100px;object-fit: cover;
                        object-position: center;" src="{% static 'images\default.jpg' %}" alt="Berlin">
                                    <p class="img-description" style="white-space: nowrap;">
                                        Add city?
                                        <p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <!--- Tryout-->



</body>


{% endblock content %}