<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}
{% load i18n %}



{% block title %}Home{% endblock title %}

{% block content %}

<head>
    <title>Homepage</title>
</head>

<body>
    <div id="main">
        

            <!-- Home heading-->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 id="home">Home</h3>
                    </div>
                    <div class="d-flex p-2 flex-wrap justify-content-evenly">
                        <div class="col-md-8 pt-3">
                            <h6> {% trans "Welcome to Never Hot." %} </h6>
                            <p style="text-align: justify;">
                                {% blocktranslate %}
                                This is a website with a Python / Django backend
                                where I teach myself and implement concepts of web development. I mainly focus on
                                backend development and doing frontend development on the go with Bootstrap5 and HTMX. Therefore this site
                                will not be as beautiful as could be with a front-end framework. The project is localized and partly translated in
                                English and German.
                                {% endblocktranslate %}
                            </p>
                        </div>
                        <!-- Django Logo-->
                        <div class="col-md-4 align-self-center text-center pt-3">
                            <img class="img-fluid mx-auto" style="max-width: 200px;"
                                src="{% static 'images/django-logo-negative.svg' %}" alt="Django logo">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Weather heading-->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 id="weather">{% trans "Weather" %}</h3>
                    </div>
                    <div class="d-flex p-2">
                        <p>
                            {% blocktranslate %}
                            This app offers a responsive user interface, providing users with up-to-date weather
                            information. The weather forecast data is fetched via the
                            openweathermap.com API and displayed in Chart.js line chart.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>

                <!-- Display of first five cities that are in database and have pictures. 
                    Cities are displayed as round images with a hover zoom revealing the name-->
                <div class="d-flex p-2 flex-wrap justify-content-evenly">
                    {% for city in city_list %}
                    {% with 'images/'|add:city.img_path as image_static %}
                    <div class="p-2 pt-3">
                        <div class="img-zoom">
                            <a href="{{city.get_absolute_url}}"><img class="rounded-circle" style="width: 100px; height: 100px;object-fit: cover;
                        object-position: center;" src="{% static image_static %}" alt="Berlin">
                                <h6 class="img-description">
                                    {{city.city_name}}
                                </h6>
                            </a>
                        </div>
                    </div>
                    {% endwith %}
                    {% endfor %}

                    <!-- Link for adding a city -->
                    <div class="p-2 pt-3">
                        <div class="img-zoom">
                            <a href="{% url 'add_city' %}"><img class="rounded-circle" style="width: 100px; height: 100px;
                        object-position: center;" src="{% static 'images/default.svg' %}" alt="Berlin">
                                <p class="img-description" style="white-space: nowrap;">
                                    {% trans "Add city?" %}
                                    <p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Asycn Search Bar : Cities that are in Database-->
                <div class="d-flex pt-5 flex-wrap justify-content-center">
                    <div class="search">
                        <input name="q" placeholder="{% trans 'Search for a location' %}" hx-get="{% url 'home' %}"
                            hx-target="#results" hx-trigger="load, input delay:1s">
                    </div>
                </div>

                <!-- Results of the Async search bar are swapped into here-->
                <section id="results">
                    {% include "partials/partial_results.html" %}
                </section>




        </div>


</body>


{% endblock content %}