<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Weather{% endblock title %}


{% block content %}
<div id="main">
    <section>
    </section>
    <div id="carouselExample" class="carousel slide carousel-dark">
        <div class="carousel-inner">
            {% for city in city_list %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <div class="card text-center mx-auto m-2" , style="max-width: 440px;">
                    {% with 'images/'|add:city.img_path as image_static %}
                    <img src="{% static image_static %}" class="card-img-top rounded float-start" alt="city image">
                    {% endwith %}
                    <div class="card-header">
                        <h5><a href="{% url 'city_detail' city.pk %}">{{city.city_name}}</a></h5>
                    </div>
                    <div class="card-body">
                        <p>{{city.temp}} °C</p>
                        <p>{{city.hum}} % {% trans 'Humidity' %}</p>
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        {% trans 'Last updated:' %} {{city.last_updated |date:"d.m.y G:i"}}
                    </div>
                </div>
            </div>
            {% endfor %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    {% endblock content %}